<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
       
        <div class="hero">
            <h1>Home Page</h1>
        </div>

    </body>
</html>