<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>
        
        <div class="hero">
            <div class = "hero-top"> 
                <p id = "today">Today is <b></span> </b></p><br>
                <p>Time is: <b><span id = "times"></span></b></p>
            </div>
            <div class = "hero-main">
              <p>Your Public IP is:  <b><span id = "gfg"></span></b></p>
            </div>
            <div class = "europe-time">
               <p>The Server is currently on PORT: <b><%=  port %></b></p> <br>
               <p>The HOST name is: <b><%= host %></b></p> 
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>

const date = new Date();

    const days = ['Sunday','Monday', 'Thuesday', 'Wednsday', 'Thursday', 'Friday', 'Saturday'];
    const months = ['January','February','March','April','May','June','July','August','September','October','November','December'];
   
    

             /* Add "https://api.ipify.org?format=json" statement
               this will communicate with the ipify servers in
               order to retrieve the IP address $.getJSON will
               load JSON-encoded data from the server using a
               GET HTTP request */
               let myIp;
                
            (async function(){
                await $.getJSON("https://api.ipify.org?format=json", function(data) {
                
                // Setting text of element P with id gfg
                $("#gfg").html(data.ip);
                

                const options = {
                    headers: {
                        Authorization: "Bearer 6Q************"
                    }
                    
                }
                fetch(`https://www.timeapi.io/api/Time/current/ip?ipAddress=${data.ip}`,options)
                .then(response => response.json())
                .then(data => console.log(data));
            })
            }()); 


        
            
        </script>
    </body>
</html>