*{
 margin:0;
 padding:0;
 box-sizing: border-box;   
}

li, a, h1, h2 {
    text-decoration: none;
    color:#000;
    list-style: none;
}

body{
    max-width: 90vw;
    margin:0 auto;
    border:1px solid #eee;
    padding:0 15px;
    height:auto;
    box-shadow:1px 1px 0 rgba(0,0,0,0.2);
}


/*  Head    */

nav{
    border:1px solid #eee;
    height:110px;
    display: flex;
    margin-top:50px;
    box-shadow:1px 1px 0 rgba(0,0,0,0.2);
}

.side-title a{
    font-size: 48px;
    
}
.side-title p {
    font-size:26px;
}

.side-title{
    width:50%;
    padding:10px;

}
nav ul {
    width:50%;
    padding:10px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
  
    font-size: 22px;
}
nav  > ul  > li > a{
   
    min-width:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:1px 1px 0 rgba(0,0,0,0.2);
    height:40px;
}
nav  > ul  > li > a:hover{
    border:1px solid #cecece;
}
nav > ul > li {
    border:1px solid #eee;
    
}

.hero{
    border:1px solid #eee;
    padding:10px;
    margin:15px auto 0 auto;
    height:450;
    display: flex;
    flex-direction: column;
    box-shadow:1px 1px 0 rgba(0,0,0,0.2);
}
.hero-top {
    width:100%;
    height:auto;
    border:1px solid red;
    padding:10px 20px;
}
#today{
    font-size: 48px;
}
.hero-main{
    border:1px solid red;
    height:100px;
}