*{
 margin:0;
 padding:0;
 box-sizing: border-box;   
}

li, a, h1, h2 {
    text-decoration: none;
    color:#000;
    list-style: none;
}

body{
    max-width: 90vw;
    margin:0 auto;
    padding:0 15px;
    height:auto;    

 
}


/*  Head    */

nav{
    background-color: #fff;
    border:1px solid #cecece;
    display: flex;
    margin-top:50px;
    justify-content: space-between;
    box-shadow:1px 1px 0 rgba(0,0,0,0.2);
    padding:25px;
}

.side-title a{
    font-size: 48px;
}
.side-title p {
    font-size:26px;
}

.side-title{

    padding:10px;

}
nav ul {
    
    padding:10px;
    display: flex;
    align-items: flex-end;
    font-size: 22px;

}
nav  > ul  > li > a{
    min-width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:40px;
}
nav  > ul  > li > a:hover{
    border:1px solid #cecece;
}

.hero{
    background-color: #fff;
    border:1px solid #cecece;
    padding:25px 10px;
    margin:15px auto 0 auto;
    height:450;
    display: flex;
    flex-direction: column;
    box-shadow:1px 1px 0 rgba(0,0,0,0.2);
}
.hero-top {
    width:100%;
    height:auto;
    
    padding:10px 20px;
    font-size: 22px;
    font-weight: 150px;
}


#today{
    font-size: 48px;
}

.hero-main{

    height:100px;
    padding:10px 20px;
    font-size: 22px;
}